h1
{
  font-size: 36px;
  text-align: center;
}

h2
{
  font-size: 32px;
  text-align: center;
}

h2::first-letter
{
  color: #c1454b;
  font-size: 36px;
}

pre
{
  font-size: 18px;
}

div.Paragraphe
{
  border: 5px outset;
  border-radius: 5px;
  background-color: rgb(45,	49,	59);
  text-align: inline;
  padding: 10px;
}

div.Exemple
{
  text-align: center;
  background-color: rgb(34,	37,	42);
  margin-top: 20px;
  margin-bottom: 18px;
}
/*
border-spacing: 15px;
border-width: 5px;
border-radius: 3px;
border-style: outset;
*/

table
{
  border-collapse: separate;
  border-spacing: 15px 15px;
}


body {
  color: rgb(168,	174,	186);
  background-color: rgb(41,	44,	51);
}
